<div class="container">
  <h1>{{title}}</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Release</th>
        <th>Length</th>
        <th>Regisseur</th>
        <th>Rating</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of movieArray; let i = index;">
        <td>{{movie.title}}</td>
        <td>{{movie.release}}</td>
        <td>{{movie.length}}</td>
        <td>{{movie.regisseur}}</td>
        <td>{{movie.rating}}</td>
        <td><button class="btn btn-danger" (click)="edit(movie)" style="margin: 5px;">Edit</button>&nbsp;<button class="btn btn-danger" (click)="delete(movie)" style="display: inline;">Delete</button></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td><input type="text" placeholder="Title..." class="form-control" [(ngModel)]="movie.title"/></td>
        <td><input type="text" placeholder="Release..." class="form-control" [(ngModel)]="movie.release"/></td>
        <td><input type="text" placeholder="Length..." class="form-control" [(ngModel)]="movie.length"/></td>
        <td><input type="text" placeholder="Regisseur..." class="form-control" [(ngModel)]="movie.regisseur"/></td>
        <td><input type="text" placeholder="Rating..." class="form-control" [(ngModel)]="movie.rating"/></td>
        <td><button class="btn btn-success" (click)="add()">Add</button></td>
      </tr>
    </tfoot>
  </table>
  
  <button class="btn btn-success" (click)="change()">Change</button>
  <button class="btn btn-warning" (click)="deleteLocalstorage()" style="margin-left: 15px;">Delete Localstorage</button>
</div>